<div class="filters">
  <mat-form-field>
    <mat-label>Column</mat-label>
    <mat-select (selectionChange)="changeSelectedFilter($event.value)" [value]="filtersService.getSelectedProperty()">
      <ng-container *ngFor="let item of filtersService.getDefinedFilters() | keyvalue">
        <mat-option [value]="item.key">{{item.key}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Condetion</mat-label>
    <mat-select (selectionChange)="setCondetion($event.value)" [value]="filtersService.getSelectedCondetion()">
      <ng-container *ngFor="let condetion of filtersService.getSelectedFilter().condetions">
        <mat-option [value]="condetion">{{condetion}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput type="text" [(ngModel)]="filterValue">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addToFilter()">Add Filter</button>
</div>
<div class="filtered">
  <mat-chip-set>
    <ng-container *ngFor="let filter of filtersService.getWhereFilter() | keyvalue">
      <mat-chip (removed)="removeFilter(filter.key)">
        {{filter.key}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </ng-container>
  </mat-chip-set>
</div>
<div class="example-container mat-elevation-z8">
    @if (isLoadingResults || isError) {
      <div class="example-loading-shade">
        @if (isLoadingResults) {
          <mat-spinner></mat-spinner>
        }
        @if (isError) {
          <div class="example-rate-limit-reached">
            Something went wrong. Please try again later.
          </div>
        }
      </div>
    }
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index;">{{row._id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <input *ngIf="row.edit" [(ngModel)]="row.name">
            <ng-container *ngIf="!row.edit">{{row.name}}</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <input *ngIf="row.edit" [(ngModel)]="row.phone">
            <ng-container *ngIf="!row.edit">{{row.phone}}</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <input *ngIf="row.edit" [(ngModel)]="row.address">
            <ng-container *ngIf="!row.edit">{{row.address}}</ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <input *ngIf="row.edit" [(ngModel)]="row.notes">
            <ng-container *ngIf="!row.edit">{{row.notes}}</ng-container>
          </td>
        </ng-container>
  
        <!-- Created Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef disableClear>Created At</th>
          <td mat-cell *matCellDef="let row; let i = index;">{{row.createdAt | date}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef disableClear>
            <button mat-raised-button color="primary" (click)="addEmptyContact()">Add Contact</button>
          </th>
          <td mat-cell *matCellDef="let row; let i = index;">
            <ng-container *ngIf="row.edit">
              <button mat-icon-button color="primary" (click)="saveContact(row, i)">
                <mat-icon>save</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="cancelEdit(row, i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="!row.edit">
              <button mat-icon-button color="primary" (click)="editContact(row, i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteContact(row, i)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-paginator [length]="resultsLength" [pageSize]="5" aria-label="Select select the page"></mat-paginator>
</div>
  